
.base-button {
  cursor: pointer;
  font-size: 11pt;
  font-weight: 500;
  color: white;
	background-color: transparent;
  border: 3px solid royalblue;
  background-color: royalblue;
	border-radius: 5px;
  padding: 7px 15px;
  transition: background-color .2s ease-out, border .2s ease-out;

  &:hover {
    border-color: lighten(royalblue, 5%);
    background-color: lighten(royalblue, 5%);
  }

  &:active {
    border-color: darken(royalblue, 10%);
    background-color: darken(royalblue, 10%);
  }

  &:disabled {
    cursor: default;
    border-color: #a1b9ff;
    background-color: #8fabff;
  }

  @media screen and (max-width: 480px) {
    font-size: 15px;
    padding: 7px;
  }
}