@import '../../../assets/styles/mixins';

.two-columns {
  display: flex;
  flex-wrap: wrap;

  aside {
    flex-grow: 1;
    width: 385px;
    padding: 15px;

    @include all-but-last {
      margin-bottom: 20px;
    }
  }
}