@import '../../../assets/styles/fonts';

.btn-outline {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  padding: 3px 8px;

  &.red {
    border-color: #e14141
  }

  &.blue {
    border-color:royalblue;
  }

  .btn-outline__title {
    font-family: 'Capture it', arial;
  }

  i {
    width: 16px;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
