@import '../../../assets/styles/mixins';
@import '../../../assets/styles/fonts';

.group {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 15px 20px;

  &__content {
    @include all-but-last {
      margin-bottom: 15px;
    }
  }
}
