@import '../../../assets/styles/mixins';

.left-column {
  @include all-but-last {
    margin-bottom: 25px;
  }

  .action-group {
    display: flex;
    justify-content: space-between;

    .base-button {
      flex: 1;

      + .base-button {
        margin-left: 15px;
      }
    }
  }
}
