.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 17px;
  padding-left: calc(50% + 17px);

  @media screen and(max-width: 768px) {
    padding-left: 17px;
  }

  .btn {
    flex: 1;

    &:last-of-type {
      margin-left: 20px;
    }
  }
}