.auth {
  font-family: 'Capture it', arial;

  .auth__title {
    margin-right: 10px;
  }

  button  {
    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px 8px;

    &.red {
      border-color: #e14141
    }

    &.blue {
      border-color:royalblue;
    }

    &:hover > i {
      transform: translateX(5px);
    }

    i {
      transform: translateX(0);
      transition: transform .3s ease-out;
    }

    .auth__btn-title {
      margin-left: 10px;
    }
  }
}
