.login {
  display: flex;
  align-items: center;

  label {
    margin-right: 8px;
    width: 100%;

    input {
      width: 100%;

      &.error {
        box-shadow: 0 0 3px #e14141;
      }
    }
  }

  .btn-outline .status__sign-out {
    background-image: url('../../../assets/images/sign-out.svg');
  }

  .hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
  }
}
