@import '../../../assets/styles/fonts';

.status {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__title {
    font-family: 'Russo One', sans-serif;
    margin-right: 15px;
  }

  .button-outline  {
    &__title:not(:empty) {
      margin-left: 10px;
    }

    &:hover > i {
      transform: translateX(5px);
    }

    i {
      transform: translateX(0);
      transition: transform .3s ease-out;

      &#{$self}__sign-in {
        background-image: url('../../../assets/images/sign-in.svg');
      }
      &#{$self}__sign-out {
        background-image: url('../../../assets/images/sign-out.svg');
      }
    }
  }
}
