@import '../../../assets/styles/fonts';

.status {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .status__title {
    font-family: 'Capture it', arial;
    margin-right: 15px;
  }

  .btn-outline  {
    .btn-outline__title:not(:empty) {
      margin-left: 10px;
    }

    &:hover > i {
      transform: translateX(5px);
    }

    i {
      transform: translateX(0);
      transition: transform .3s ease-out;

      &.status__sign-in {
        background-image: url('../../../assets/images/sign-in.svg');
      }
      &.status__sign-out {
        background-image: url('../../../assets/images/sign-out.svg');
      }
    }
  }
}
