@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url(~Fonts/roboto-cyrillic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url(~Fonts/roboto-latin.woff2) format('woff2');
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-display: swap;
  src: url(~Fonts/russo-one-cyrillic.woff2) format('woff2');
}
