@font-face {
  font-family: 'Roboto Regular';
  src: local('Roboto Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Capture it';
  src: local('Capture it'), url(../fonts/Capture-it.ttf) format('truetype');
}
